<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>


<body>
<div class="container">
    <h2>main</h2>
    <form action="/dbs" method="post">
            <input type="submit" value="dbs share prediction">
    </form>
    <form action="/creditability" method="post">
            <input type="submit" value="check creditability">
    </form>
    <form action="/" method="post">
            <input type="submit" value="Logout">
    </form>
</div>
</body>